/* Base styles */
* {
  text-transform: capitalize;
  font-family: 'Merriweather', serif;
}
h1{
    margin-bottom: 50px;
}
.message{
    font-weight: bold;
}
body {
  background: linear-gradient(0deg, #0f0f0f, #1a1a1a);
  color: #f5f5f5;
}

/* Todo containers and layout */
.todo-elem-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.333fr;
  column-gap: 5px;
  padding: 5px;
}

.todo,
.todo-date,
.delete-btn {
  margin-bottom: 20px;
}

/* Todo items */
.todo {
  background: linear-gradient(to bottom, #ffffff, #f5f5f5);
  color: #320e00;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  height: fit-content;
}

.todo-style {
  
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  animation: bounceIn 0.6s ease-out;
  transition: all 0.3s ease-in-out;
}

.todo-style {
  background-color: #1a1a1a;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  transform: scale(1.02);
}

/* Even styling for alternating items */
.render-todo .todo-style:nth-child(even) {
  background: #1f1a1bcd;
}

/* Date element */
.todo-date-elem {
  background: #e3e3e3e8;
  color: #2c1e1a;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  height: fit-content;
}

/* Buttons */
.delete-btn {
  background: linear-gradient(to right, #ff4e4e, #ff1a1a);
  color: white;
  border: none;
  padding: 11px 17px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(255, 0, 0, 0.3);
  transition: opacity 0.5s;
}

.delete-btn:active {
  opacity: 0;
}

.addTodo-btn {
  background: #0ea94f;
  color: white;  
  padding: 10px 15px !important;
  border-radius: 20px;
}

/* Input fields */
.todo-input,
.todo-date-input,
.addTodo-btn {
  padding: 5px;
  border-radius: 10px;
  border: none;
}

.todo-input:focus,
.todo-date-input:focus {
  outline: 1px solid black;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes bounceIn {
  0%   { transform: scale(0.5); opacity: 0; }
  60%  { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); }
}

.dark-mode {
  background: linear-gradient(0deg, #0f0f0f, #1a1a1a);
  color: #f5f5f5;
}

.light-mode {
  background: linear-gradient(0deg, #ffffff, #c7c7c7);
  color: #1a1a1a;
}

.light-mode .todo {
  background: white;
  color: #320e00;
}

.light-mode .todo-style {
  #7f7f7f70
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.light-mode .delete-btn {
  
}

.light-mode .todo-date-elem {
  background: #ffe8e0;
}

.light-mode .todo-date-input, .light-mode .todo-input{
    border: 1px solid black;
    background: white;
}

.mode-toggle{
    position: fixed;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    padding: 15px;
    background: none;
    
}
