*{
    text-transform: capitalize;
}
body{
    background: black;
    color: white
}

.todo-elem-container{
    display: grid;
    grid-template-columns: 1fr 1fr 0.333fr;
    column-gap: 5px; 
    padding: 5px;
}

.render-todo .todo-style:nth-child(even){
    background: #1f1a1bcd;
}

.todo, .todo-date, .delete-btn {
    margin-bottom: 20px;
}

.todo{
    color: #320e00;
    height: fit-content;
    padding: 15px;    
    border-radius: 10px;
    background: white;
}

.todo-date-elem{
    border-radius: 10px;
    color: black;
    height: fit-content;
    padding: 15px;
    background: #ffdfd5;
}

.delete-btn{
    border: none;
    background: black;
    padding: 11px 17px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.todo-input:focus, .todo-date-input:focus{
    outline: 1px solid black;
}


.todo-input, .todo-date-input, .addTodo-btn{
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.addTodo-btn{
    border: 1px solid green;
    background: green;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
}

/* animations*/

.todo-style {
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.todo-style {
  animation: slideIn 0.5s;
  background-color: #f0f0f055;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.delete-btn {
  transition: opacity 0.5s;
}

.delete-btn:active {
  opacity: 0;
  transition: opacity 0.5s;
}

.todo-style:hover {
  background-color: black;
  transition: background-color 0.5s;
}